<div *ngIf="loadedDetails$ | async; else loading">
  <div
    class="grid grid-cols-2 p-10 content-center vertical-align: middle;"
    style="grid-column-gap: 15px; grid-row-gap: 15px"
  >
    <div #pokemon>
      <mat-select
        #pokemonSelect
        [ngModel]="currentHunt.pokemonNumber"
        (selectionChange)="selected($event.value)"
        panelClass="pokemon-panel"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-fit p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <mat-option class="pokemon-search-option">
          <input
            matInput
            placeholder="Search Pokémon..."
            [(ngModel)]="searchText"
            (ngModelChange)="searchPokemon()"
            (click)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-fit p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />
        </mat-option>

        @for (pokemon of PokemonList; track pokemon.pokemonNumber) {
          <mat-option
            [value]="pokemon.pokemonNumber"
            [attr.data-pokemon]="pokemon.pokemonName.toLowerCase()"
          >
            {{ pokemon.pokemonName }}
          </mat-option>
        }
      </mat-select>
      <div *ngIf="Pokemon != undefined">
        <img
          class="inline p-10 justify-center"
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/{{
            Pokemon.pokemonNumber
          }}.png"
          [alt]="Pokemon.pokemonName + ' Shiny'"
        />
        <div
          class="grid grid-cols-2 place-items-center text-center content-center h-1/2"
          style="margin-bottom: 10%"
        >
          <!--<img *ngIf="Pokemon?.image" class="inline p-10 justify-center" [src]="Pokemon?.image" [alt]="Pokemon?.dsName" />-->
          <img
            class="inline justify-center"
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/{{
              Pokemon.pokemonNumber
            }}.png"
            [alt]="Pokemon.pokemonName"
          />
          <div
            class="place-items-center text-center content-center w-3/4 h-2/3 self-end grid content-between"
          >
            <span class="Type {{ PokemonType[Pokemon.type1] }}">{{
              PokemonType[Pokemon.type1]
            }}</span>
            <span class="Type {{ PokemonType[Pokemon.type2!] }}">{{
              PokemonType[Pokemon.type2!]
            }}</span>
            <br /><br />
          </div>
        </div>
      </div>
    </div>

    <div #details>
      <div #game class="dropdown">
        <span>Game Versions:</span>
        <mat-select
          [ngModel]="currentHunt.gameId"
          (ngModelChange)="getGameDetails(+$event)"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-fit p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          @for (game of GamesList; track game.gameId) {
            <mat-option [value]="game.gameId">
              {{ game.gameNames }}
            </mat-option>
          }
        </mat-select>
      </div>

      <div #shinyMethod>
        <div class="dropdown">
          <span>Hunting Method:</span>
          <mat-select
            [ngModel]="currentHunt.methodId"
            (ngModelChange)="getShinyMethodDetails(+$event)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-fit p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-2"
          >
            @for (method of MethodsListFiltered; track method.shinyMethodId) {
              <mat-option [value]="method.shinyMethodId">
                {{ method.shinyMethodName }}
              </mat-option>
            }
          </mat-select>
        </div>
        <div class="description mb-10">
          {{ selectedMethodDescription$ | async }}
        </div>
      </div>

      <div
        #checkboxes
        class="h-6 mb-10 grid grid-cols-2 content-center align-middle h-[5vh]"
      >
        <div>
          <span></span>
          <div
            *ngIf="canShinyCharm"
            class="place-items-center flex content-start content-center align-middle h-[5vh]"
          >
            <input
              type="checkbox"
              [(ngModel)]="currentHunt.hasShinyCharm"
              (ngModelChange)="mechanics()"
            />
            <div class="ml-5">Shiny Charm</div>
          </div>
        </div>
        <div class="content-center align-middle h-[5vh]">
          <span></span>
          <div
            *ngIf="optMethodCheck"
            class="place-items-center flex content-start"
          >
            <input
              type="checkbox"
              [(ngModel)]="optMethodValue"
              (ngModelChange)="mechanics()"
            />
            <div class="ml-5">{{ optMethodText }}</div>
          </div>

          <div
            *ngIf="sparklingLevelCheck"
            class="col-span-2 place-items-center flex content-start"
          >
            <mat-select
              [(ngModel)]="sparklingLevelValue"
              (ngModelChange)="mechanics()"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-fit p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-2"
            >
              @for (level of sparklingLevel; track level) {
                <mat-option [value]="level">
                  {{ level }}
                </mat-option>
              }
            </mat-select>
          </div>
        </div>
      </div>

      <div
        class="grid grid-cols-4 place-items-center text-center content-center m-px-20"
      >
        <div class="w-fit text-3xl">
          <button matButton (click)="encounter()">
            <mat-icon class="encounterButton"
              >add_circle_outline</mat-icon
            ></button
          ><br />
          <button matButton (click)="undoCounter()">
            <mat-icon class="encounterButton">remove_circle_outline</mat-icon>
          </button>
        </div>
        <div class="col-span-3">
          <input
            id="encounter"
            type="number"
            class="w-4/5 text-7xl font-black countInput"
            [(ngModel)]="currentHunt.encounterCount"
          />
          <span class="text-2xl">/{{ odds$ | async }}</span>
        </div>

        <span></span>
        <span></span>

        <div class="col-span-2 mb-20 text-end w-full text-xl">
          <span class="description">Phases: </span
          ><input
            id="phase"
            type="number"
            class="countInput text-xl w-1/3"
            [(ngModel)]="currentHunt.phaseCount"
          />
        </div>
        <div class="col-span-2 place-items-center flex content-start h-[5vh]">
          <input type="checkbox"
             [(ngModel)]="customTallyCheck" 
             (ngModelChange)="resetCustomTally()" />
          <div class="ml-5">Custom Value for Encounters?</div>
        </div>
        <div class="col-span-2 place-items-center block">
          <input
            id="encounterCustom"
            type="number"
            class="countInput text-xl w-1/3 border-0 border-b-4 border-gray-300"
            [(ngModel)]="customTallyValue"
            *ngIf="customTallyCheck"
          />
        </div>
        <!--class="col-span-2 text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2"-->
        <button (click)="phase()" type="button" class="col-span-2 button1">
          Phase
        </button>
        <button
          (click)="resetCounter()" type="button" class="col-span-2 button1">
          Reset
        </button>
        <button (click)="saveCounter()" type="button" class="col-span-2 button2">
          Save
        </button>
        <button
          (click)="loadCounter()"
          type="button"
          class="col-span-2 button2"
        >
          Load
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loader"></div>
</ng-template>
