.teste{
  overflow-y: scroll;
}

button{
  width: 80%;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: white;
  background: rgba(0, 0, 255, 0.79);
}

img{
  background-color: rgb(197, 194, 194);
}

.pokemon{
  border-radius: 25px;
  margin: 20px;
  text-align: center;
  align-items: center;
}

.number{
  text-align: left;
  font-weight: bold;
  float:left;
  background-color: white;
  border-bottom-right-radius: 15px;
  padding-right: 10px;
  padding-left: 5px;
}

.gen{
  text-align: right;
  font-weight: bold;
  float:right;
  background-color: white;
  border-bottom-left-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.header{
  background-color: rgb(197, 194, 194);
}


