.teste{
  overflow-y: scroll;
}

.filter-button{
  width: 5%;
}

.button-menu{
  width: 80%;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: white;
  background: var(--color-pokedex);
} 

.mat-mdc-menu-panel.custom-menu {
  max-width: 400px !important;
  min-width: 400px !important;
  width: 400px;
}

img{
  background-color: rgb(197, 194, 194);
}

.pokemon{
  border-radius: 25px;
  margin: 20px;
  text-align: center;
  align-items: center;
}

.number{
  text-align: left;
  font-weight: bold;
  float:left;
  background-color: white;
  border-bottom-right-radius: 15px;
  padding-right: 10px;
  padding-left: 5px;
}

.gen{
  text-align: right;
  font-weight: bold;
  float:right;
  background-color: white;
  border-bottom-left-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.header{
  background-color: rgb(197, 194, 194);
}


