<!-- component -->
<div class="flex flex-row min-h-screen bg-gray-100 text-gray-800">
  <aside
    class="sidebar w-64 md:shadow transform -translate-x-full md:translate-x-0 transition-transform duration-150 ease-in bg-red-500"
  >
    <div class="sidebar-header flex items-center justify-center py-4 select-none">
      <div class="block bg-white w-full h-15">
        <h1>Welcome {{userName}}</h1>
      </div>
    </div>
    <div class="sidebar-content px-4 py-6 bg-white">
      <ul class="flex flex-col w-full">
        <li class="my-px" (click)="pokedex()">
          <span
              class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
            >
            <span class="flex items-center justify-center text-lg text-gray-400">
              <img src="../../../assets/img/pokeball_icon.svg" alt="pokeball" class="h-6 w-6">
            </span>
            <span class="ml-3">Pokedex</span>
          </span>
        </li>

        <li class="my-px" (click)="shiny()">
          <span
              class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
            >
            <span class="flex items-center justify-center text-lg text-gray-400">
              <img src="../../../assets/img/shiny_icon.svg" alt="shiny" class="h-6 w-6">
            </span>
            <span class="ml-3">Shiny hunt</span>
          </span>
        </li>

       <!-- <li class="my-px" (click)="battle()">
          <span
              class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
            >
            <span class="flex items-center justify-center text-lg text-gray-400">
              <img src="../../../assets/img/battle_icon.svg" alt="battle" class="h-6 w-6">
            </span>
            <span class="ml-3">Battle</span>
          </span>
        </li>-->

        <li class="my-px" (click)="signOut()">
          <span
          class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-gray-100 hover:text-gray-700"
        >
            <span class="flex items-center justify-center text-lg text-red-400">
              <svg
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z"
                />
              </svg>
            </span>
            <span class="ml-3">Logout</span>
          </span>
        </li>
      </ul>
    </div>
  </aside>
  <main class="main flex flex-col w-screen md:ml-0 transition-all duration-150 ease-in">
    <div class="main-content flex flex-col p-10">
      <div class="flex flex-col w-full overflow-y-auto border-4 border-gray-400 border-dashed bg-white rounded mt-4" style="height: 85vh;">
        <router-outlet></router-outlet>
      </div>

    </div>

    <footer class="footer px-4 py-6">
      <div class="footer-content">
        <p class="text-sm text-gray-600 text-center">© Pokemon 2020. All rights reserved.</p>
      </div>
    </footer>
  </main>
</div>

